# Dependencies
node_modules/
.pnpm-store/
.yarn/*

# Environment variables
.env*

# Build/Cache directories (Next.js, Nuxt, Vite, etc.)
.next/
dist/
.nuxt/
.cache/
.svelte-kit/
**/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
